# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=rwanda

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# JWT — change this in production
JWT_SECRET=myMonolithSecretKeyThatShouldBeExternalizedInMicroservices2024FoodDelivery!
